body {
background-image: url('gloomy.jpg');
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

p {
    color: white;
    font-family: Cambria;
}
#FirstPic {
    float: right;
    border-radius: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
}